<div id="<%= dom_id product %>">




  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
